.btnAtivoInativo{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btnAtivoInativo p{
    margin-bottom: 5px;
    transition: 0.4s;
}
.btnAtivo{
background-color: rgb(8, 184, 8);
border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.btnInativo{
background-color: rgb(255, 0, 0);
border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}