.cadastrarUsuario{
    background-color: #480ca8;
    height: 100%;
    color: white;
}
.cadastrarUsuario-container{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.divBtnCadastro{
    display: flex;
    justify-content: end;
}
.btnCadastro{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: #f72585;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}
.btnCadastro:hover{
    transform: scale(1.05);
    background-color: #ff0676;
}